div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
} 

div.group  {
	background-color:grey !important;
}

/* class attribute: note */
span.note  {
	font-size:120%;
	color:red;
}

/* id attribute for special element */
span#my01  {
	font-size:120%;
	color:yellow;
}

/* group classes */
.groupA  { background-color:black; padding:20px;}
.groupB  { background-color:gray !important; padding:10px;}
.groupC  { background-color:white; padding:5px;}

/* id attribute for special element */
#id-1  { background-color:yellow; margin:30px;}
#id-2 { background-color:yellow; margin:30px;}
#id-299  { background-color:yellow; margin:30px;}